@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/*hide and show detail page */
.disabled {
  display: none;
}

.display {
  display: block;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--black);
  color: var(--white);
  padding: 0;
  margin: 0;
}

/* const */
:root {
  --red: #ff0000;
  --black: #151515;
  --white: #ffffff;
  --fontStyle: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

small {
  display: block;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 0 1em 0 1em;
}

h1 {
  font-size: 2.2em;
  letter-spacing: 0.5%;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 45vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/background.jpg");
  background-size: cover;
  border-bottom: 3px #4a4a4a solid;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  font-family: var(--fontStyle);
  background: none;
  border: var(--white) 2px solid;
  color: var(--white);
  border-radius: 4px;
  width: 300px;
  height: 36px;
  padding-left: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  outline: none;
}

form input:active:focus {
  outline: none;
}

form input:first-of-type::placeholder {
  color: var(--white);
  font-weight: 500;
  opacity: 87%;
}

form button {
  width: 105px;
  height: 36px;
  background: var(--red);
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
}

header section {
  position: absolute;
  height: 60px;
  background: #272727;
  bottom: -50px;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header section button {
  color: var(--white);
  background: var(--black);
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 60px;
  border-radius: 2px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
}

header section p {
  opacity: 87%;
}

body section:first-of-type {
  margin-top: 5em;
}

body section:first-of-type h2 {
  font-size: 1.1em;
  margin-top: 0;
}

body section:first-of-type p {
  font-size: 0.8em;
  opacity: 87%;
  margin-top: 0.2em;
}

body section:first-of-type img {
  border-radius: 2px;
  width: 180px;
  height: auto;
  margin-bottom: 1em;
}

body section:first-of-type ul {
  padding: 0 1em 0 1em;
}

body section:first-of-type ul li {
  padding-bottom: 0.6em;
  margin-bottom: 1.2em;
  border-bottom: 1.2px var(--white) solid;
  display: none;
}

body section:first-of-type ul li div:first-of-type {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* loading state */
body > section:first-of-type.display {
  display: block;
  text-align: center;
  margin-top: 5em;
  opacity: 1;
}

body > section:first-of-type img {
  font-size: 2.5em;
  animation: spin 1.5s infinite linear;
  color: var(--white);
}

body > section:first-of-type p {
  margin-top: 2em;
  font-size: 1em;
  color: var(--text);
  opacity: 87%;
}

body > section:first-of-type {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* empty/error state */
body > section:nth-of-type(2) {
  display: none;
}

body > section:nth-of-type(2).display {
  display: block;
  text-align: center;
  margin-top: 5em;
  opacity: 1;
}

body > section:nth-of-type(2) i {
  font-size: 2.5em;
  color: var(--white);
  animation: wiggle 1.5s infinite linear;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* NAV ITEMS */

main:nth-of-type(2) nav {
  margin-top: 1em;
}

main:nth-of-type(2) nav a {
  background-color: none;
  border: 2px var(--white) solid;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

main:nth-of-type(2) nav a img {
  width: 25px;
  height: auto;
}

main:nth-of-type(2) h1 {
  font-size: 1.4em;
  line-height: 30px;
  margin-bottom: 1.5em;
}

main:nth-of-type(2) section {
  margin-top: 2em;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}

main:nth-of-type(2) section div > div:first-of-type {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

main:nth-of-type(2) section div > div span {
  font-weight: bold;
  letter-spacing: 0.5px;
}

main:nth-of-type(2) section img {
  width: 250px;
  border-radius: 9px;
}

main:nth-of-type(2) section p {
  margin-top: 0.6em;
}

main:nth-of-type(2) section a {
  position: absolute;
  background: var(--red);
  color: var(--white);
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em 0em 0.5em 0em;
  width: 200px;
  left: calc(50% - 100px);
  right: 0;
  bottom: 10%;
  box-shadow: 0px 4px 60px rgba(255, 0, 0, 0.235);
}

/* CARD SCROLL ANIMATION */
.visible {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}
.invisible {
  opacity: 0;
}

.show {
  display: block;
}
